.gitattributes
# Treat everything as binary, as cat files require binary identity for signatures to match
* -text

# SC8380X (8 cores) (Purwa) Compute Reference Device
8380PA_CRD/200.0.1.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
8380PA_CRD/200.0.8.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text

# Microsoft Surface Pro 9 5G (NR)
Surface/8280_ARC_1996/200.0.1.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1996/200.0.3.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1996/200.0.4.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1996/200.0.5.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1996/200.0.6.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1996/200.0.7.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1996/200.0.8.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1996/200.0.9.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1996/200.0.10.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1996/200.0.11.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1996/200.0.12.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1996/200.0.14.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1996/200.0.15.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1996/200.0.16.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1996/200.0.17.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1996/200.0.19.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1996/200.0.20.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text

# Microsoft Surface Pro 9 5G (mmWave)
Surface/8280_ARC_1997/200.0.2.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1997/200.0.4.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1997/200.0.9.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1997/200.0.10.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1997/200.0.11.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1997/200.0.12.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1997/200.0.13.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1997/200.0.14.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1997/200.0.15.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1997/200.0.16.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1997/200.0.17.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1997/200.0.19.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1997/200.0.20.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1997/200.0.21.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1997/200.0.22.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1997/200.0.24.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1997/200.0.25.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text

# Microsoft Windows Dev Kit 2023
Surface/8280_BLK/200.0.2.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_BLK/200.0.5.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_BLK/200.0.6.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_BLK/200.0.7.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_BLK/200.0.8.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_BLK/200.0.9.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_BLK/200.0.10.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_BLK/200.0.11.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_BLK/200.0.12.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_BLK/200.0.14.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text

# Microsoft Surface Pro, 11th Edition (5G, Commercial)
Surface/8380_DEN_5G_BIZ/200.0.7.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_5G_BIZ/200.0.7.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_5G_BIZ/200.0.12.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_5G_BIZ/200.0.12.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_5G_BIZ/200.0.14.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_5G_BIZ/200.0.14.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_5G_BIZ/200.0.17.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_5G_BIZ/200.0.17.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text

# Microsoft Surface Pro, 11th Edition (5G, Japan)
Surface/8380_DEN_5G_JAP/200.0.7.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_5G_JAP/200.0.7.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_5G_JAP/200.0.12.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_5G_JAP/200.0.12.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_5G_JAP/200.0.14.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_5G_JAP/200.0.14.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_5G_JAP/200.0.15.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_5G_JAP/200.0.15.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_5G_JAP/200.0.17.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_5G_JAP/200.0.17.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text

# Microsoft Surface Pro, 11th Edition (5G, Commercial, Japan)
Surface/8380_DEN_5G_JAP_BIZ/200.0.12.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_5G_JAP_BIZ/200.0.12.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_5G_JAP_BIZ/200.0.14.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_5G_JAP_BIZ/200.0.14.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_5G_JAP_BIZ/200.0.17.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_5G_JAP_BIZ/200.0.17.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text

# Microsoft Surface Pro, 11th Edition (5G)
Surface/8380_DEN_5G/200.0.8.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_5G/200.0.8.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_5G/200.0.12.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_5G/200.0.12.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_5G/200.0.13.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_5G/200.0.13.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_5G/200.0.15.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_5G/200.0.15.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_5G/200.0.16.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_5G/200.0.16.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_5G/200.0.18.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_5G/200.0.18.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text

# Microsoft Surface Pro, 11th Edition (Commercial)
Surface/8380_DEN_BIZ/200.0.6.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_BIZ/200.0.6.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_BIZ/200.0.8.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_BIZ/200.0.8.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_BIZ/200.0.12.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_BIZ/200.0.12.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_BIZ/200.0.21.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_BIZ/200.0.21.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_BIZ/200.0.25.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_BIZ/200.0.25.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_BIZ/200.0.26.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_BIZ/200.0.26.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_BIZ/200.0.28.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_BIZ/200.0.28.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_BIZ/200.0.29.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_BIZ/200.0.29.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_BIZ/200.0.31.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN_BIZ/200.0.31.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text

# Microsoft Surface Pro, 11th Edition
Surface/8380_DEN/200.0.9.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN/200.0.9.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN/200.0.11.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN/200.0.11.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN/200.0.15.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN/200.0.15.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN/200.0.20.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN/200.0.20.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN/200.0.22.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN/200.0.22.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN/200.0.24.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN/200.0.24.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN/200.0.26.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN/200.0.26.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN/200.0.28.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN/200.0.28.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN/200.0.29.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN/200.0.29.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN/200.0.31.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN/200.0.31.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN/200.0.32.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN/200.0.32.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN/200.0.34.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN/200.0.34.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text

# Microsoft Surface Laptop, 7th Edition (13'')
Surface/8380_ROM_2036/200.0.11.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_2036/200.0.16.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_2036/200.0.21.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_2036/200.0.23.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_2036/200.0.25.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_2036/200.0.27.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_2036/200.0.28.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_2036/200.0.29.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_2036/200.0.31.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_2036/200.0.32.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_2036/200.0.33.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_2036/200.0.34.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text

# Microsoft Surface Laptop, 7th Edition (15'')
Surface/8380_ROM_2037/200.0.10.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_2037/200.0.15.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_2037/200.0.20.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_2037/200.0.22.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_2037/200.0.24.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_2037/200.0.26.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_2037/200.0.27.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_2037/200.0.28.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_2037/200.0.30.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_2037/200.0.32.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text

# Microsoft Surface Laptop, 7th Edition (13'', Commercial)
Surface/8380_ROM_BIZ_2036/200.0.11.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_BIZ_2036/200.0.16.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_BIZ_2036/200.0.25.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_BIZ_2036/200.0.28.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_BIZ_2036/200.0.29.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_BIZ_2036/200.0.31.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_BIZ_2036/200.0.32.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_BIZ_2036/200.0.33.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text

# Microsoft Surface Laptop, 7th Edition (15'', Commercial)
Surface/8380_ROM_BIZ_2037/200.0.11.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_BIZ_2037/200.0.16.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_BIZ_2037/200.0.25.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_BIZ_2037/200.0.28.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_BIZ_2037/200.0.29.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_BIZ_2037/200.0.31.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_BIZ_2037/200.0.33.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
