.gitattributes
# Treat everything as binary, as cat files require binary identity for signatures to match
* -text
8380PA_CRD/200.0.1.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
8380PA_CRD/200.0.8.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1996/200.0.1.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1996/200.0.10.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1996/200.0.11.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1996/200.0.12.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1996/200.0.14.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1996/200.0.15.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1996/200.0.3.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1996/200.0.4.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1996/200.0.5.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1996/200.0.6.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1996/200.0.7.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1996/200.0.8.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1996/200.0.9.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1997/200.0.10.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1997/200.0.11.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1997/200.0.12.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1997/200.0.13.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1997/200.0.14.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1997/200.0.15.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1997/200.0.16.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1997/200.0.17.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1997/200.0.19.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1997/200.0.20.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1997/200.0.2.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1997/200.0.4.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_ARC_1997/200.0.9.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_BLK/200.0.2.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_BLK/200.0.5.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_BLK/200.0.6.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_BLK/200.0.7.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_BLK/200.0.8.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_BLK/200.0.9.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_BLK/200.0.10.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8280_BLK/200.0.11.0/QcMbbFWUpdateDriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN/200.0.9.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN/200.0.9.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN/200.0.11.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN/200.0.11.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN/200.0.15.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN/200.0.15.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN/200.0.20.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_DEN/200.0.20.0/surface_mbbfwupdatedriver.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_2036/200.0.11.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_2036/200.0.16.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_2036/200.0.21.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_2037/200.0.10.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_2037/200.0.15.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
Surface/8380_ROM_2037/200.0.20.0/microsofteffectpack_extension.cab filter=lfs diff=lfs merge=lfs -text
